$maxWidthContainerGlav: 1200px;

/* Fonts  */

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;


/* Fonts-weght  */

$extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;


/* отступы(padding)  у некоторых блоков */

$padding-top: 85px;
$padding-bottom: 70px;



/* COLORS */

$white: #ffffff;
$brown-text: #c7b299;
$white-text: #d1d1d1;
$brown-btn: #998675;
$grey: #555555;
$color-card: #fbfaf8;
$color-cardHover: #362f2d;
$light-blue: #00bff3;
$some-text: #8c8c8c;
$arrow_hover: #d3c1ad;


